.search-bar{
    flex: 1;
    height: 34px;
    padding-left: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px
    rgba(0,0,0,0.05);

}

.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
    color: rgb(146, 144, 144);
}

.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-width: 1px ;
    border-bottom-style: solid ;
    border-bottom-color:rgb(231, 229, 229);
    z-index: 100;
}

.left-section{
    display: flex;
    align-items: center;
}

.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 470px;
    margin-left: 60px;
}

.right-section{
    display: flex;
    align-items: center;
    width: 182px;
    justify-content: space-between;
    margin-right: 34px;
    margin-left: 29px;
    flex-shrink: 0;
}

.hamburger{
    width: 25px;
    margin-right: 24px;
    margin-left: 24px;
    cursor: pointer;
}

.yt-logo{
    width: 90px;
}

.search-button{
    width: 60px;
    height: 38px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-width: 1px;
    margin-left: -1px;
    cursor: pointer;
}

.voice-search-button{
    margin-left: 10px;
    margin-top: 5px;
    width: 40px;
    height: 34px;
    border-radius: 20px;
    border: none;
    background-color: rgb(254, 255, 255);
    cursor: pointer;
}

.search-button-icon{
    margin-top: 4px;
    height: 25px;
}

.search-button:hover{
    background-color: rgb(235,235,235);
}

.voice-search-button-icon{
    background-color: white;
    border: none;
    height: 25px;
}

.upload{
    background-color: white;
    border: none;
    margin-right: 18px;
    cursor: pointer;
}

.yt-apps{
    background-color: white;
    border: none;
    margin-right: 18px;
    cursor: pointer;
}

.notif{
    background-color: white;
    border: none;
    margin-right: 18px;
    cursor: pointer;
}

.profile-pic{
    background-color: white;
    border-radius: 100px;
    border: none;
    margin-right: 18px;
    cursor: pointer;
}

.upload-icon{
    height: 24px;
}

.yt-apps-icon{
    height: 24px;
}

.notif-icon{
    height: 24px;
}

.profile-pic-icon{
    height: 45px;
}

.notif-counter{
    position: relative;
}

.notif-counter-value{
    font-family: Roboto , Arial;
    background-color: rgb(193, 5, 5);
    border-radius: 10px;
    color: white;
    position: absolute;
    width: 15px;
    text-align: center;
    font-size: 11px;
    bottom: 14px;
    left: 18px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload:hover .tooltip {
  opacity: 1;
}
